In [3]:
from db import Session
from models import Product

from sqlalchemy import select, func

session = Session()

In [7]:
q = (select(
    Product.manufacturer,
    func.min(Product.year),
    func.max(Product.year),
    func.count()
    )
    .group_by(Product.manufacturer)
    .order_by(Product.manufacturer)
)

session.execute(q).all()

[('Acorn Computers Ltd', 1980, 1995, 6),
 ('AGAT', 1984, 1984, 1),
 ('Amstrad', 1984, 1990, 7),
 ('APF Electronics, Inc.', 1979, 1979, 1),
 ('Apple Computer', 1977, 1988, 6),
 ('Apricot Computers', 1984, 1984, 1),
 ('Aster Computers', 1982, 1982, 1),
 ('Atari Corporation', 1985, 1992, 3),
 ('Atari, Inc.', 1979, 1985, 7),
 ('Bally Consumer Products', 1977, 1979, 2),
 ('Brasov Computer', 1986, 1986, 1),
 ('Camputers', 1983, 1983, 1),
 ('Coleco', 1983, 1983, 1),
 ('Comércio de Componentes Eletrônicos', 1985, 1985, 1),
 ('Commodore', 1977, 1985, 10),
 ('Comx World Operations', 1983, 1983, 1),
 ('Data Applications International', 1980, 1980, 1),
 ('Didaktik', 1986, 1987, 3),
 ('Dragon Data', 1982, 1982, 2),
 ('Dubna', 1991, 1991, 1),
 ('EACA', 1980, 1983, 2),
 ('Elektronika', 1985, 1985, 1),
 ('Elektronska Industrija Niš', 1985, 1985, 2),
 ('Exidy', 1978, 1978, 1),
 ('Franklin Computer Corporation', 1982, 1982, 1),
 ('Fujitsu', 1982, 1989, 2),
 ('GEM', 1985, 1985, 1),
 ('Gradiente', 1985, 1985, 1),
 ('Grundy Business Systems', 1982, 1982, 1),
 ('Honeywell', 1969, 1969, 1),
 ('IBM', 1984, 1990, 2),
 ('Intelligent Software', 1985, 1985, 2),
 ('Intelligent Systems Corporation', 1977, 1977, 1),
 ('Interact', 1979, 1979, 1),
 ('Intercompex', 1990, 1990, 1),
 ('Iskra', 1989, 1989, 1),
 ('Ivasim', 1983, 1984, 2),
 ('Jupiter Cantab', 1982, 1982, 1),
 ('Lambda Electronics', 1985, 1985, 1),
 ('Luxor', 1978, 1978, 1),
 ('Matra', 1983, 1983, 1),
 ('Mattel', 1983, 1983, 1),
 ('Memotech', 1983, 1983, 3),
 ('Microbee Systems', 1983, 1983, 1),
 ('Microdigital Eletronica', 1985, 1985, 1),
 ('Miles Gordon Technology', 1989, 1989, 1),
 ('Multitech', 1983, 1983, 1),
 ('NEC', 1981, 1983, 2),
 ('NEC Home Electronics', 1981, 1981, 1),
 ('PEL Varaždin', 1981, 1984, 2),
 ('Philips', 1980, 1985, 3),
 ('Pravetz', 1980, 1985, 3),
 ('Progeni Systems / Polycorp', 1981, 1981, 1),
 ('Prológica', 1984, 1984, 1),
 ('Rabbit', 1983, 1983, 1),
 ('Radio Shack', 1977, 1987, 6),
 ('Schneider Computer Division', 1988, 1988, 1),
 ('Sega', 1983, 1983, 1),
 ('Sharp', 1979, 1987, 3),
 ('Sinclair Research', 1980, 1984, 4),
 ('Sord Computer Corporation', 1977, 1982, 2),
 ('Štátny majetok Závadka š.p.', 1989, 1989, 1),
 ('Tangerine Computer Systems', 1983, 1986, 3),
 ('Technosys', 1984, 1984, 1),
 ('Tesla', 1985, 1985, 1),
 ('Texas Instruments', 1979, 1979, 2),
 ('Thomson', 1982, 1984, 2),
 ('Timex Sinclair', 1982, 1986, 6),
 ('Tomy', 1986, 1986, 1),
 ('Tsinghua University', 1986, 1986, 1),
 ('VEB Robotron', 1984, 1987, 3),
 ('Vector', 1987, 1987, 1),
 ('Videobrain', 1977, 1977, 1),
 ('Videoton', 1986, 1986, 1),
 ('Vtech', 1985, 1985, 1),
 ('West Computer AS', 1984, 1984, 1)]

In [5]:
print(q)

SELECT products.manufacturer, min(products.year) AS min_1, max(products.year) AS max_1, count(*) AS count_1
FROM products GROUP BY products.manufacturer ORDER BY products.manufacturer

In [8]:
q = (select(
        Product.manufacturer,
        func.count()
    )
    .group_by(Product.manufacturer)
    .having(func.count() >= 5)
    .order_by(Product.manufacturer)
)

session.execute(q).all()

[('Acorn Computers Ltd', 6),
 ('Amstrad', 7),
 ('Apple Computer', 6),
 ('Atari, Inc.', 7),
 ('Commodore', 10),
 ('Radio Shack', 6),
 ('Timex Sinclair', 6)]

In [9]:
num_products = func.count().label(None)

q = (select(
        Product.manufacturer,
        num_products
    )
    .group_by(Product.manufacturer)
    .having(num_products >= 5)
    .order_by(Product.manufacturer)
)

session.execute(q).all()

[('Acorn Computers Ltd', 6),
 ('Amstrad', 7),
 ('Apple Computer', 6),
 ('Atari, Inc.', 7),
 ('Commodore', 10),
 ('Radio Shack', 6),
 ('Timex Sinclair', 6)]

In [10]:
print(q)

SELECT products.manufacturer, count(*) AS count_1
FROM products GROUP BY products.manufacturer
HAVING count(*) >= :param_1 ORDER BY products.manufacturer

In [11]:
q = select(Product).order_by(Product.name).limit(3).offset(3)
session.scalars(q).all()

[Product(131, "Aamber Pegasus"),
 Product(84, "ABC 80"),
 Product(5, "Acorn Archimedes")]

In [12]:
q = select(Product).where(Product.id == 23)
session.scalar(q)

Product(23, "CT-80")

In [13]:
session.get(Product, 23)

Product(23, "CT-80")

In [15]:
from sqlalchemy import select
from db import Session
from models import Product, Manufacturer
session = Session()

In [3]:
p = session.scalar(select(Product).where(Product.name == 'ZX Spectrum'))
p

Product(127, "ZX Spectrum")

In [5]:
print(p.manufacturer)
print(p.manufacturer.name)

Manufacturer(63, "Sinclair Research")
Sinclair Research

In [6]:
p.manufacturer.products

[Product(125, "ZX80"),
 Product(126, "ZX81"),
 Product(127, "ZX Spectrum"),
 Product(128, "Sinclair QL")]

In [7]:
m = session.scalar(select(Manufacturer)
                   .where(Manufacturer.name == 'Texas Instruments'))
print(m)
print(m.products)

Manufacturer(66, "Texas Instruments")
[Product(132, "TI-99/4"), Product(133, "TI-99/4A")]

In [9]:
q = select(Product.name, Manufacturer.name)\
    .join(Product.manufacturer)\
    .limit(3)
session.execute(q).all()

[('Acorn Atom', 'Acorn Computers Ltd'),
 ('BBC Micro', 'Acorn Computers Ltd'),
 ('Electron', 'Acorn Computers Ltd')]

In [10]:
print(q)

SELECT products.name, manufacturers.name AS name_1
FROM products JOIN manufacturers ON manufacturers.id = products.manufacturer_id
 LIMIT :param_1

In [17]:
from sqlalchemy import func

q = select(
        Manufacturer,
        func.count(Product.id)
    )\
    .join(Manufacturer.products)\
    .group_by(Manufacturer)\
    .order_by(Manufacturer.name)\
    .limit(5)

session.execute(q).all()

[(Manufacturer(1, "Acorn Computers Ltd"), 6),
 (Manufacturer(24, "AGAT"), 1),
 (Manufacturer(2, "Amstrad"), 7),
 (Manufacturer(4, "APF Electronics, Inc."), 1),
 (Manufacturer(5, "Apple Computer"), 6)]

In [18]:
print(q)

SELECT manufacturers.id, manufacturers.name, count(products.id) AS count_1
FROM manufacturers JOIN products ON manufacturers.id = products.manufacturer_id GROUP BY manufacturers.id, manufacturers.name ORDER BY manufacturers.name
 LIMIT :param_1

In [29]:
from db import Session
from models import Product
from sqlalchemy import select

session = Session()

In [30]:
q = select(Product.country).order_by(Product.country).distinct()

session.scalars(q).all()

['Australia',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'China',
 'Croatia',
 'Czechoslovakia',
 'East Germany',
 'France',
 'Germany',
 'Hong Kong',
 'Hungary',
 'Japan',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Portugal',
 'Portugal/Poland',
 'Romania',
 'Serbia',
 'Sweden',
 'Taiwan',
 'UK',
 'USA',
 'USA/UK/Portugal',
 'USSR']

In [1]:
from db import Session
from models import Product, Manufacturer, Country
from sqlalchemy import select, func

session = Session()

In [2]:
p = session.scalar(
    select(Product)\
        .where(Product.name == 'Timex Sinclair 1000')
)

p.countries

[Country(1, "UK"), Country(3, "USA"), Country(22, "Portugal")]

In [3]:
c = session.scalar(
    select(Country)\
        .where(Country.name == 'Portugal')
)

c.products

[Product(138, "Timex Sinclair 1000"),
 Product(139, "Timex Sinclair 1500"),
 Product(140, "Timex Sinclair 2048"),
 Product(141, "Timex Computer 2048"),
 Product(142, "Timex Computer 2068"),
 Product(143, "Komputer 2086")]

In [4]:
country_count = func.count(Country.id).label(None)
q = select(Product, country_count)\
        .join(Product.countries)\
        .group_by(Product)\
        .having(country_count >= 2)\
        .order_by(Product.name)
    
session.execute(q).all()

[(Product(143, "Komputer 2086"), 2),
 (Product(142, "Timex Computer 2068"), 3),
 (Product(138, "Timex Sinclair 1000"), 3),
 (Product(139, "Timex Sinclair 1500"), 3),
 (Product(140, "Timex Sinclair 2048"), 3)]

In [5]:
q = select(Manufacturer)\
        .join(Manufacturer.products)\
        .join(Product.countries)\
        .where(Country.name == 'UK')\
        .order_by(Manufacturer.name)\
        .distinct()

session.scalars(q).all()

[Manufacturer(1, "Acorn Computers Ltd"),
 Manufacturer(2, "Amstrad"),
 Manufacturer(6, "Apricot Computers"),
 Manufacturer(12, "Camputers"),
 Manufacturer(21, "Dragon Data"),
 Manufacturer(31, "Grundy Business Systems"),
 Manufacturer(27, "Intelligent Software"),
 Manufacturer(40, "Jupiter Cantab"),
 Manufacturer(44, "Memotech"),
 Manufacturer(48, "Miles Gordon Technology"),
 Manufacturer(63, "Sinclair Research"),
 Manufacturer(54, "Tangerine Computer Systems"),
 Manufacturer(70, "Timex Sinclair")]

In [6]:
country_count = func.count(Country.id.distinct()).label(None)

q = select(Manufacturer, country_count)\
        .join(Manufacturer.products)\
        .join(Product.countries)\
        .group_by(Manufacturer)\
        .having(country_count >= 2)

session.execute(q).all()

[(Manufacturer(70, "Timex Sinclair"), 4)]

In [10]:
c = session.get(Country, 22)
print(c)
p = session.get(Product, 138)
print(p)
print(p.countries)

session.delete(c)
session.commit()
print(p.countries)

Country(22, "Portugal")
Product(138, "Timex Sinclair 1000")
[Country(1, "UK"), Country(3, "USA"), Country(22, "Portugal")]
[Country(1, "UK"), Country(3, "USA")]

In [14]:
c = session.get(Country, 1)
print(c)
p = session.get(Product, 138)
print(p)
print(p.countries)

print(c in p.countries)
p.countries.remove(c)
session.commit()
print(p.countries)

Country(1, "UK")
Product(138, "Timex Sinclair 1000")
[Country(1, "UK"), Country(3, "USA")]
True
[Country(3, "USA")]